<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="main.css"/>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <header>
            <div class="sticky_header">
                <i class="fas fa-plus" id="plus"></i>
                <p class="header_name"> Graphic Service</p>
                <p class="SH_info">if you are interested in Our Service </p>
                <a href="https://instagram.com/_pandoras_pryntz?igshid=1e6fccm092shw"><button class="btn-con">Follow Us</button></a>
                <p class="border">|</p><i class="fab fa-instagram" id="insta_header"></i>
               
            </div>
            <div class="nav-bar"> 
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="Services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="About us.html">About Us</a></li>
                </ul>
            </div>
            <div class="nav-background"></div>
            <!----<img src="pandoras-logo.jpg"/>--->
            <!--<img src="images/pandoras-logo.jpg"/>-->
    </header>
    <div class="AboutUs_header"> About Us</div>
    <div class="abt_body">
        <div class="bio">
            <img src="images/shanice_smith.jpg"/>
            <div class="personal_info"> Personal Info....</div><div class="pers_line"></div>
            <div class="info_box">
            <p class="info1">Name:..........................Shanice Smith </p>
            <p class="info1">Title:......................... Business Owner</p>
            <p class="info1">Hobbies:....................... Surfing the Net</p>
            <p class="info1">Publish:....................... 2018</p>
            </div>
        </div>
        <div class="bio_graphy">
            <p class="bio_header">biography</p><div class="bio_line"></div>
            <p class="bio_para">UTech, Jamaica Adjunct Professor Lawrence <br>Williams Receives Patent for Anti-Cancer Drug</p>
            <div class="right_skew"></div>
        </div>
    </div>
    <div class="bio_grid">
        <p class="ftr_goals">Future Goals</p><img src="images/lifestyle-logo.jpg"/>
        <div class="goals_line"></div>
        <p class="future-goals-info">Pandoras Pryntz will be looking forward to a Event planning team,<br>
        pandoras lifestyle. Our aim will be helping persons to give their Event the<br>
        Ultimate look, Follow Pandoras lifestyle on instagram for more info.</p>
        <a href="https://instagram.com/pandoras_.lifestyle?igshid=g7j8l6fa4rzx"><button class="btn-lifestyle">Pandoras lifestyle</button></a>
    </div>
    <footer>
        <img class="footer-logo" src="images/pandoras-logo.jpg">
        <h3 class="footer-contact">Contact Us</h3>
        <p id="phone"><i class="fas fa-phone-alt"></i></p>
        <p class="phone-num">+1(876)781-7659</p>
        <p id="email-icon"><i class="fas fa-envelope"></i></p>
        <p class="email">damanibeckford18@gmail.com</p>
        <p class="copy"></p>
        <div class="Services-header">
            <h3 class="footer-services">Graphic Services</h3>
            <p class="first">Posters/Flyers</p>
            <p class="two">Business Cards</p>
            <p class="three">Tickets</p>
            <p class="four">Logos</p>
            <p class="five">Calenders</p>
            <p class="six">Custom T-Shirt</p>
            <p class="seven">ID Cards</p>
            <p class="eight">etc...</p>
        </div>
        <h3 class="follow">Follow Us</h3>
        <i id="Fb-icon"class="fab fa-facebook-square"></i>
        <i id="insta-icon" class="fab fa-instagram"></i>
        <div class="photo-service">
            <h3 class="footer-photo">Photo Services</h3>
            <p class="serv1">Photoshoot</p>
            <p class="serv2">Birthay Parties</p>
            <p class="serv3">Weddings</p>
            <p class="serv4">Graduation</p>
            <p class="serv5">Business Events</p>
            <p class="serv6">ID Cards</p>
            <p class="serv7">etc...</p>
        </div>
        <div class="copyright">
            <p> Copyright &copy; 2018 - Pandoras Pryntz, Clarendon Jamaica | Business Owner Shanice Smith</p>
        </div>
        <div class="copyright-body"></div>
    </footer>
</body>
</html>