<!DOCTYPE html>
<html>
    <head>
        <title>Service Offer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="main.css"/>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <header>
            <div class="sticky_header">
                <i class="fas fa-plus" id="plus"></i>
                <p class="header_name"> Graphic Service</p>
                <p class="SH_info">if you are interested in Our Service </p>
                <a href="https://instagram.com/_pandoras_pryntz?igshid=1e6fccm092shw"><button class="btn-con">Follow Us</button></a>
                <p class="border">|</p><i class="fab fa-instagram" id="insta_header"></i>
               
            </div>
        <div class="nav-bar"> 
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Upcoming_Events.html">Events</a></li>
                <li><a href="promoGirls.html">Promo Girls</a></li>
                <li><a href="About us.html">About Us</a></li>
            </ul>
        </div>
        <img src="images/pandoras-logo.jpg"/>
        <img src="images/pandoras-logo.jpg"/>
        </header>
        
        <footer>
            <img class="footer-logo" src="images/pandoras-logo.jpg">
            <h3 class="footer-contact">Contact Us</h3>
            <p id="phone"><i class="fas fa-phone-alt"></i></p>
            <p class="phone-num">+1(876)781-7659</p>
            <p id="email-icon"><i class="fas fa-envelope"></i></p>
            <p class="email">pandoraspryntzja@gmail.com</p>
            <p class="copy"></p>
            <div class="Services-header">
                <h3 class="footer-services">Graphic Services</h3>
                <p class="first">Posters/Flyers</p>
                <p class="two">Business Cards</p>
                <p class="three">Tickets</p>
                <p class="four">Logos</p>
                <p class="five">Calenders</p>
                <p class="six">Custom T-Shirt</p>
                <p class="seven">ID Cards</p>
                <p class="eight">etc...</p>
            </div>
            <h3 class="follow">Follow Us</h3>
            <i id="Fb-icon"class="fab fa-facebook-square"></i>
            <i id="insta-icon" class="fab fa-instagram"></i>
            <div class="photo-service">
                <h3 class="footer-photo">Photo Services</h3>
                <p class="serv1">Photoshoot</p>
                <p class="serv2">Birthay Parties</p>
                <p class="serv3">Weddings</p>
                <p class="serv4">Graduation</p>
                <p class="serv5">Business Events</p>
                <p class="serv6">ID Cards</p>
                <p class="serv7">etc...</p>
            </div>
            <div class="copyright">
                <p> Copyright &copy; 2018 - Pandoras Pryntz, Clarendon Jamaica | Business Owner Shanice Smith</p>
            </div>
            <div class="copyright-body"></div>
        </footer>
        <p class="Our_Serv">Graphic Design</p>
            <div class="grid-box">
                
            <div class="img-body">
            <div class="grid-box2">
                <img id="vacae" src="images/design11.jpg">
                <div class="pro-pic"><img src="images/shanice_smith.jpg"></div><div class="owner">Designed by Shanice Smith</div><i  id="eye" class="fas fa-eye"></i>
                <p class="heels-wheels">Heels & Wheels</p>
                <p class="HW-qoute">"Day Rave"</p>
            </div>
            <div class="grid-box3">
                <img id="kad" src="images/tropical_escape.jpg">
                <i id="tag2" class="fas fa-tags"></i>
                <div class="pro-pic2"><img src="images/shanice_smith.jpg"></div><div class="owner2">Designed by Shanice Smith</div><i id="eye2" class="fas fa-eye"></i>
                <p class="glam-header">Tropical Escape</p>
                <p class="glam-qoute">"The Premium Day Rave"</p>
            </div>
            <div class="grid-box4">
                <img id="advance" src="images/design10.jpg">
                <i id="tag3" class="fas fa-tags"></i>
                <div class="pro-pic3"><img src="images/shanice_smith.jpg"></div><div class="owner3">Designed by Shanice Smith</div><i id="eye3" class="fas fa-eye"></i>
                <p class="reggae-ball">Reggae Ball</p>
                <p class="reggae-qoute">"Official Reggae party"</p>
            </div>
            <div class="grid-box5">   
                <img id="ticket" src="images/ticket.jpg">
                <i id="tag4" class="fas fa-tags"></i>
                <div class="pro-pic4"><img src="images/shanice_smith.jpg"></div><div class="owner4">Designed by Shanice Smith</div><i id="eye4" class="fas fa-eye"></i>
                <p class="cookout">Cookout</p>
                <p class="cookout-qoute">"Junior Cookout in style"</p>
            </div>
            <div class="grid-box6">   
                <img id="ticket" src="images/design 8.jpg">
                <i id="tag5" class="fas fa-tags"></i>
                <div class="pro-pic5"><img src="images/shanice_smith.jpg"></div><div class="owner5">Designed by Shanice Smith</div><i id="eye5" class="fas fa-eye"></i>
                <p class="vacae-header">Loyalty Vacae</p>
                <p class="vacae-qoute">"Day Rave"</p>
            </div>
            <div class="grid-box7">   
                <img id="ticket" src="images/design 9.jpg">
                <i id="tag5" class="fas fa-tags"></i>
                <div class="pro-pic5"><img src="images/shanice_smith.jpg"></div><div class="owner5">Designed by Shanice Smith</div><i id="eye5" class="fas fa-eye"></i>
                <p class="vacae-header">TeaCup</p>
                <p class="vacae-qoute">"The Ultimate Breakfast & Brunch Series"</p>
            </div>
            </div>
            <p></p>
        </div>
    </body>
</html>