<!DOCTYPE html>
<html>
    <head>
        <title>Pandoras Pryntz</title>
        <link rel="stylesheet" href="main.css"/>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href="/fontawesome/css/all.min.css" rel="stylesheet"> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="feedback.js"></script>
    </head>
    <body>
        <header>
            <div class="sticky_header">
                <i class="fas fa-plus" id="plus"></i>
                <p class="header_name"> Graphic Service</p>
                <p class="SH_info">if you are interested in Our Service </p>
                <a href="https://instagram.com/_pandoras_pryntz?igshid=1e6fccm092shw"><button class="btn-con">Follow Us</button></a>
                <p class="border">|</p><i class="fab fa-instagram" id="insta_header"></i>
               
            </div>
        <div class="nav-bar"> 
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="About us.html">About Us</a></li>
            </ul>
        </div>
        <div class="nav-background"></div>
        <!----<img src="pandoras-logo.jpg"/>--->
        <!---<img src="images/pandoras-logo.jpg"/>--->
        </header>
        <div class="motto">
            <h1>Pandoras</h1>
            <h1 class="business">Pryntz</h1>
        </div>
        <h4>"Connecting your Brand with your Essence"</h4>
        <div class="btn">
            <a href="Design.html"><button class="btn-1">Explore</button></a>
            <a href="https://instagram.com/_pandoras_pryntz?igshid=1e6fccm092shw"><button class="btn-2">Instagram</button></a>
        </div>
        </div>
        <div class="intro-body">
        </div>
        <footer>
            <img class="footer-logo" src="images/pandoras-logo.jpg">
            <h3 class="footer-contact">Contact Us</h3>
            <p id="phone"><i class="fas fa-phone-alt"></i></p>
            <p class="phone-num">+1(876)781-7659</p>
            <p id="email-icon"><i class="fas fa-envelope"></i></p>
            <p class="email">pandoraspryntzja@gmail.com</p>
            <p class="copy"></p>
            <div class="Services-header">
                <h3 class="footer-services">Graphic Services</h3>
                <p class="first">Posters/Flyers</p>
                <p class="two">Business Cards</p>
                <p class="three">Tickets</p>
                <p class="four">Logos</p>
                <p class="five">Calenders</p>
                <p class="six">Custom T-Shirt</p>
                <p class="seven">ID Cards</p>
                <p class="eight">etc...</p>
            </div>
            <h3 class="follow">Follow Us</h3>
            <i id="Fb-icon"class="fab fa-facebook-square"></i>
            <i id="insta-icon" class="fab fa-instagram"></i>
            <div class="photo-service">
                <h3 class="footer-photo">Photo Services</h3>
                <p class="serv1">Photoshoot</p>
                <p class="serv2">Birthay Parties</p>
                <p class="serv3">Weddings</p>
                <p class="serv4">Graduation</p>
                <p class="serv5">Business Events</p>
                <p class="serv6">ID Cards</p>
                <p class="serv7">etc...</p>
            </div>
            <div class="copyright">
                <p> Copyright &copy; 2018 - Pandoras Pryntz, Clarendon Jamaica | Business Owner Shanice Smith</p>
            </div>
            <div class="copyright-body"></div>
        </footer>
       
        <i id="truck-icon" class="fas fa-truck"></i>
        <i id="mission-icon" class="fas fa-briefcase"></i>
        <i id="Vision-icon"  class="fas fa-chart-line"></i>
        <div class="under-line"></div>
        <div class="under-line1"></div>
        <div class="under-line2"></div>
        <div class="black-line"></div>
        <div class="black-line1"></div>
        <div class="black-line2"></div>
        <h3 class="sub-header1">Free Delivery</h3>
        <h3 class="sub-header2">Mission</h3>
        <h3 class="sub-header3">Vision</h3>
        <div class="para-body">
            <p class="para">Our mission is to Provide our customers with <br>
            exceptional service, quality work and Oustanding design<br>
            We are dedicated to giving our customers the widest range of<br>
            choices, backed up by our commitment to exceptional service.</p>
        </div>
        <div class="para-body1">
            <p class="para1">To produce high-quality, low cost, easy to use products that incorporate<br>
            high technology for the individual.</p>
        </div>
        <div class="para-body2">
            <p class="para2">Free Delivery is offerd, free of cost, goods will be<br>
            Delivery safely.</p>
        </div>
    </body>
</html>