<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="main.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <header>
        
        <div class="sticky_header">
            <i class="fas fa-plus" id="plus"></i>
            <p class="header_name"> Graphic Service</p>
            <p class="SH_info">if you are interested in Our Service </p>
            <a href="https://instagram.com/_pandoras_pryntz?igshid=1e6fccm092shw"><button class="btn-con">Follow Us</button></a>
            <p class="border">|</p><i class="fab fa-instagram" id="insta_header"></i>
           
        </div>
        <div class="nav-bar"> 
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="About us.html">About Us</a></li>
            </ul>
        </div>
        <div class="nav-background"></div>
        <!----<img src="pandoras-logo.jpg"/>--->
        <!----<img src="images/pandoras-logo.jpg"/>---->
        </header>
        <div class="main_header">Our Services</div>
        <a href="Design.html"><button class="serv_btn">Explore</button></a>
        <div class="graphics_grid">
           <p class="talk_grid">Lets Talk About<br>Our Graphic Services</p><img  class="grid_img" src="images/graphics chart.png"/>
           <div class="talk_line"></div>
        </div>
        <div class="GS_def">
            <p class="def"> Our Graphics Service offers custom made products such as custom T-Shirt,<br>
            which is mostly wanted by other businesses or regular customer. <br>
            Posters and flyers are also done by our business along with tickets, ID's, logos and Business card. </p>
        </div>
        <div class="tick_def_grid">
            <img src="images/party_ticket.jpg" class="party_ticket"/>
            <h2 class="tick-header">Ticket</h2>
            <p class="abt_tick">pandoras pryntz offers tickets which<Br> could be for a formal event or a party settings.
            We offer this service with a affordable price so our customer dont have any financial
            difficulties paying.</p>
            <a href="views/contact.html"><button id="click_tick"class="btn_tick">Chart<i id="chart1"class="fas fa-shopping-cart"></i></button></a>
            <div class="model-2">
                <div class="model-container2">
                        <div class="form-model2">
                            <form class="form-m">
                                <label>Email/Tele:</label>
                                <br>
                                <br>
                                <input id="Email" type="text" class="m1-form-input1" placeholder="Full Name"></input>
                                <br>
                                <br>
                                <label>Type:</label>
                                <br>
                                <br>
                                <input id="item_type" type="text" class="m1-form-input2" placeholder="Type"></input>
                                <br>
                                <br>
                                <br>
                                <label>Price:</label>
                                <br>
                                <input id="item_price" type="number" class="m1-form-input3" placeholder="Price"></input>
                                <br>
                                <br>
                                <label>Request:</label>
                                <br>
                                <br>
                                <textarea id="item_request" type="text" class="m1-form-input4" row="8"></textarea>
                                <br>
                                <br>
                                <center><input type="submit" name="submit" class="btn-model2" value="submit"></center>
                            </form>
                        </div>
                        <img src="images/design 8.jpg" class="img-d8"/>
                        <div class="prices">
                            <p class="price1"> Price: </p>
                            <input type="checkbox" name="price"><label>1 Ticket - $2,000</label><br><br>
                            <input type="checkbox" name="price"><label>2 Ticket - $4,000</label><br><br>
                            <input type="checkbox" name="price"><label>3 Ticket - $8,000</label><br><br>
                        </div>
                    </div>
                    <div class="close-model1"><i class="fas fa-times"></i></div>
              </div>
                
            <script>
                document.getElementById('click_tick').addEventListener('click', function(){
                    document.querySelector('.model-2').style.display = 'flex';
    
                });
    
                document.querySelector('.close-model1').addEventListener('click', function(){
                    document.querySelector('.model-2').style.display ='none';
                });
            </script>
        </div>
        <div class="tshirt_def_grid">
            <img src="images/bus-card.jpg" class="tshirt"/>
            <h2 class="business-header">Business Card</h2>
            <p class="abt_tshirt">pandoras pryntz offers Custom T-shirt which<Br> could be for a customer or a organization.
            We also offer this service with a affordable price so our customer dont have any financial
            difficulties paying. </p>
            <a href="views/contact.html"><button  id="click_bus"class="btn_tshirt">Chart<i id="chart2" class="fas fa-shopping-cart"></i></button></a>
            <div class="model-3">
                <div class="model-container3">
                    <h1 class="Send-mail">Send Email</h1>
                    <img class="bcd" src="images/Business-Card-Design.jpg"/>
                        <div class="prices1">
                            <p class="price2"> Price Chart: </p>
                            <input type="checkbox" name="price"><label>1 Business Card - $2,000</label><br><br>
                            <input type="checkbox" name="price"><label>2 Business Card - $4,000</label><br><br>
                            <input type="checkbox" name="price"><label>3 Business Card - $8,000</label><br><br>
                        </div>
                        <div class="form-model3">
                            <form class="form-m1">
                                <label>Name:</label>
                                <br>
                                <br>
                                <input type="text" class="m2-form-input1" placeholder="Full Name"></input>
                                <br>
                                <br>
                                <label>Type:</label>
                                <br>
                                <br>
                                <input type="text" class="m2-form-input2" placeholder="Type"></input>
                                <br>
                                <br>
                                <br>
                                <label>Price:</label>
                                <br>
                                <input type="number" class="m2-form-input3" placeholder="Price"></input>
                                <br>
                                <br>
                                <label>Request:</label>
                                <br>
                                <br>
                                <textarea type="text" class="m2-form-input4" row="8"></textarea>
                                <br>
                                <br>
                                <center><button class="btn-model3">Send Request</button></center>
                            </form>
                        </div>
                </div>
                <div class="close-model2"><i class="fas fa-times"></i></div>
            </div>
            <script>
                document.getElementById('click_bus').addEventListener('click', function(){
                    document.querySelector('.model-3').style.display = 'flex';
    
                });
    
                document.querySelector('.close-model2').addEventListener('click', function(){
                    document.querySelector('.model-3').style.display ='none';
                });
            </script>
        </div>
        <div class="poster_def_grid">
            <img src="images/design 9.jpg" class="d9"/>
            <h2 class="post-header">Posters</h2>
            <p class="abt_poster">pandoras pryntz offers posters which<Br> could be for a customer who is advertising<br>
            a party or any main event coming up, it could be also for new business that will be open <br>
            and promotion team need a way to promote such act.</p>
            <a href="views/contact.html"><button id="click_post" class="btn_poster">Chart<i id="chart3" class="fas fa-shopping-cart"></i></button></a>
            <div class="model-4">
                <div class="model-container4">
                    <h1 class="Send-mail1">Send Email</h1>
                    <img class="post" src="images/design 9.jpg"/>
                        <div class="prices2">
                            <p class="price3"> Price Chart: </p>
                            <input type="checkbox" name="price"><label>1 Poster - $2,000</label><br><br>
                            <input type="checkbox" name="price"><label>2 Poster - $4,000</label><br><br>
                            <input type="checkbox" name="price"><label>3 Poster - $8,000</label><br><br>
                        </div>
                        <div class="form-model4">
                            <form class="form-m2">
                                <label>Name:</label>
                                <br>
                                <br>
                                <input type="text" class="m3-form-input1" placeholder="Full Name"></input>
                                <br>
                                <br>
                                <label>Type:</label>
                                <br>
                                <br>
                                <input type="text" class="m3-form-input2" placeholder="Type"></input>
                                <br>
                                <br>
                                <br>
                                <label>Price:</label>
                                <br>
                                <input type="number" class="m3-form-input3" placeholder="Price"></input>
                                <br>
                                <br>
                                <label>Request:</label>
                                <br>
                                <br>
                                <textarea type="text" class="m3-form-input4" row="8"></textarea>
                                <br>
                                <br>
                                <center><button class="btn-model4">Send Request</button></center>
                            </form>
                        </div>
                </div>
                <div class="close-model4"><i class="fas fa-times"></i></div>
            </div>
            <script>
                document.getElementById('click_post').addEventListener('click', function(){
                    document.querySelector('.model-4').style.display = 'flex';
    
                });
    
                document.querySelector('.close-model4').addEventListener('click', function(){
                    document.querySelector('.model-4').style.display ='none';
                });
            </script>
        </div>
        <footer class="footer_serv">
            <img class="footer-logo" src="images/pandoras-logo.jpg">
            <h3 class="footer-contact">Contact Us</h3>
            <p id="phone"><i class="fas fa-phone-alt"></i></p>
            <p class="phone-num">+1(876)781-7659</p>
            <p id="email-icon"><i class="fas fa-envelope"></i></p>
            <p class="email">pandoraspryntzja@gmail.com</p>
            <p class="copy"></p>
            <div class="Services-header">
                <h3 class="footer-services">Graphic Services</h3>
                <p class="first">Posters/Flyers</p>
                <p class="two">Business Cards</p>
                <p class="three">Tickets</p>
                <p class="four">Logos</p>
                <p class="five">Calenders</p>
                <p class="six">Custom T-Shirt</p>
                <p class="seven">ID Cards</p>
                <p class="eight">etc...</p>
            </div>
            <h3 class="follow">Follow Us</h3>
            <i id="Fb-icon"class="fab fa-facebook-square"></i>
            <i id="insta-icon" class="fab fa-instagram"></i>
            <div class="photo-service">
                <h3 class="footer-photo">Photo Services</h3>
                <p class="serv1">Photoshoot</p>
                <p class="serv2">Birthay Parties</p>
                <p class="serv3">Weddings</p>
                <p class="serv4">Graduation</p>
                <p class="serv5">Business Events</p>
                <p class="serv6">ID Cards</p>
                <p class="serv7">etc...</p>
            </div>
            <div class="copyright">
                <p> Copyright &copy; 2018 - Pandoras Pryntz, Clarendon Jamaica | Business Owner Shanice Smith</p>
            </div>
            <div class="copyright-body1"></div>
        </footer>
</body>
</html>