<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css"/>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href="/fontawesome/css/all.min.css" rel="stylesheet"> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="sticky_header">
            <i class="fas fa-plus" id="plus"></i>
            <p class="header_name"> Graphic Service</p>
            <p class="SH_info">if you are interested in Our Service </p>
            <a href="https://instagram.com/_pandoras_pryntz?igshid=1e6fccm092shw"><button class="btn-con">Follow Us</button></a>
            <p class="border">|</p><i class="fab fa-instagram" id="insta_header"></i>
           
        </div>
    <div class="nav-bar"> 
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="About us.html">About Us</a></li>
        </ul>
    </div>
    <div class="nav-background"></div>
    <!----<img src="pandoras-logo.jpg"/>--->
    <!---<img src="images/pandoras-logo.jpg"/>--->
    </header>
    <div class="no_event">No Available Event</div>
</body>
</html>